<%= form_with(model: todo, class: "flex-1 flex flex-row gap-x-4 items-center") do |form| %>
  <%= form.check_box :completed, class: "ml-8" %>
  <div class="flex-1">
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
