@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-blue-200;
  }
}

*/


.todo:first-of-type > div > button.up {
  visibility: hidden;
}
.todo:last-of-type > div > button.down {
  visibility: hidden;
}

#search:not(:placeholder-shown) + div {
  .todo > div > button.up,
  .todo > div > button.down {
    animation-duration: .2s;
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeOut {

  0% {
    transform: scale(1);
    transform-origin: center;
    height: "auto";
    opacity: 1.0;
  }

  20% {
    transform: scale(1.2);
    transform-origin: center;
    height: "auto";
    opacity: 0.8;
  }

  100% {
    transform: scale(0);
    transform-origin: center;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}